body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#lineTop {
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    align-items: center;
    margin-bottom: 50px;
}

#lineTop1 {
    width: 230px;
    height: 8px;
    background-color: #dd0285;
    border-radius: 6px;

}

#lineTop2 {
    width: 230px;
    height: 8px;
    background-color: #6e6c6e;
    border-radius: 6px;
    margin-left: -10px;
}

#circle1 {
    width: 33px;
    height: 33px;
    border: 7px solid #dd0285;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    left: 22.1%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600
}

#circle2 {
    width: 33px;
    height: 33px;
    border: 7px solid #6e6c6e;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    left: 40.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600
}

#belowlinetoptitle {
    display: flex;
    margin-top: -20px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    font-size: 22px;
    color: rgb(153, 149, 149);
    margin-bottom: 30px;
}

#outermost {
    display: flex;
    width: 72%;
    margin: auto;
    padding: 10px;
}

#firstbig {
    width: 72%;
}

#shipadd {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #555758;
}

hr {
    width: 100%;
}

input {
    height: 29px;
    width: 90%;
    margin-top: -10px;
}

#text1234 {
    display: flex;
    font-size: 16px;
    color: rgb(83, 82, 82);
    margin-left: 15px;

}

#star {
    color: red;
}




#secondbig {
    width: 350px;
    padding-top: 200px;
    padding-left: 60px;
}

#sidediv {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

#summ {
    font-size: 18px;
    font-weight: 600;
}

#symboldown {
    margin-left: 170px;
}

#CCA {
    margin-left: 10px;
}

#cartproductlist,
cartproductlistt {
    /* display: none;
    position: absolute;
    top: 55%;
    left: 66.9%; */
    width: 360px;
    height: auto;
    background-color: whitesmoke;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#mainnnn {
    width: 100%;
    height: 100PX;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
