@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    color: #666666;
}

/* subham start */
.wrapper {
    width: 500px;
}

.search-input {
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.search-input input {
    height: 40px;
    width: 100%;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    border: 0;
}



.autocom-box {
    max-height: 280px;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 46px;

}

.autocom-box {
    opacity: 1;
    pointer-events: auto;

}



.autocom-box li {
    display: block;
    background: #f6f8f9;
    font-size: 17px;
    padding: 7px;
}

.autocom-box li:hover {
    cursor: pointer;
}

.icon {
    position: absolute;
    right: -10px;
    top: 0px;
    height: 45px;
    width: 35px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #000;
    cursor: pointer;

}

#navbarS {
    height: 92px;
    width: 1423px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#logoS {
    height: 64px;
    width: 287.5px;
    /* border: 1px solid black; */
}

#searchS {
    height: 49px;
    width: 635px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

#AllCat {
    height: 45px;
    width: 220px;
    /* border: 1px solid black; */
}

#AllCat>select {
    height: 100%;
    width: 100%;
    padding: 8px;
    border: none;
}

#IP {
    height: 42px;
    width: 350px;
    font-size: 18px;
    border: none;
}


#sub>button {
    height: 50px;
    border-radius: 0px 3px 3px 0px;
    width: 100%;
    border: 1px solid black;
    border: none;
    background-color: #dd0285;
}

#sub>button>img {
    height: 90%;
    width: 60%;
    border-radius: 40px;
    /* border: 1px solid black; */
}

#sub {
    height: 100%;
    width: 11%;
    background-color: #dd0285;
    border-radius: 0px 3px 3px 0px;
}

#w {
    height: 60%;
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whist {
    height: 100%;
    width: 20%;
    border: 1px solid black;

}

.whist:hover {
    background-color: #dd0285;
}

.whist>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#accu {
    height: 100%;
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#accu>img {
    height: 80%;
    width: 80%;
}

#Acc {
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

#UserName {
    margin-left: 5px;
}

/* subham footer */
#footer {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: black;

}

#UF {
    height: 73%;
    width: 90%;
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    color: white;
    margin: auto;
}

/* #UF>div{
    border: 1px solid white;
} */

#firstF>p {
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

#firstF>:first-child {
    font-weight: 700;
    font-size: 22px;
    color: white;
}

#secondF ul>li {
    margin-bottom: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

#secondF>:first-child {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#thirdF ul>li {
    margin-bottom: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

#thirdF>:first-child {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#fourthF ul>li {
    margin-bottom: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

#fourthF>:first-child {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#LF {
    height: 20%;
    /* border: 1px solid white; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#LF img {
    height: 50%;
    width: 25%;
}

#signFoo {
    height: 70%;
    width: 40%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

#signFoo>input {
    height: 100%;
    width: 70%;
    border-radius: 8px 0px 0px 8px;
    font-size: 19px;
    border: none;
}

#sinpink {
    height: 100%;
    width: 30%;
    /* border: 1px solid white; */
    background-color: #dd0285;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;

}

#sinpink>p {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/* subham footer */
#redirectsubham {
    height: 50px;
    width: 150px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

#redirectsubham:hover {
    background-color: #666666;
}

#redirect {
    text-decoration: none;
    color: white;
}

/* subham end */

#navbar {
    background-color: #dd0285;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#navbar>h3 {
    cursor: pointer;
}

#container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 2px solid red; */
}


#product-div {
    /* border: 2px solid black; */
    width: 70%;
    margin-left: 25px;
}

#sort-div {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sort-div>ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* border: 2px solid black; */
}

#sort-div>ul>li {
    background-color: #f5f5f5;
    display: flex;
    color: #666666;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 4px;
}


#sort-div>ul>li:hover {
    background-color: #dd0285;
    color: white;
    cursor: pointer;
}

#sort-div>ul>li:first-child {
    text-decoration: none;
    background-color: #dd0285;
    color: white;
}

#sort {
    padding: 10px 25px 10px 0px;
    background-color: #f5f5f5;
    color: #666666;
    border: none;
    font-size: 1em;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 10px;
}

.checked {
    color: orange;
}

#card {
    height: 500px;
    border: 1px solid #ebebeb;
    padding: 0px 15px;
    padding-bottom: 25px;
    position: relative;
}

#card>img {
    width: 100%;
    height: 65%;
    max-height: 300px;
    text-align: center;
}

#sale {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #dd0285;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-div>button>img {
    width: 20px;
}

#price-div {
    /* width: 58%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

#span1 {
    font-size: 14px;
    text-decoration: line-through;
    margin-right: 6px;
    font-weight: 300;
}

#span2 {
    color: #dd0285;
    font-size: 18px;
    font-weight: 500;
}

#span3 {
    color: #008000;
    font-weight: 500;
    margin-left: 5px;
}

#rating {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.8em;
}

#info>p {
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

#btn-div {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
}

#btn-div>button {
    background-color: #dd0285;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 4px;
}

#btn-div>button>span {
    margin-left: 7px;
    font-weight: 500;
}

#fav {
    background-color: #666666;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
}

#fav:hover {
    background-color: #dd0285;
    cursor: pointer;
}

#btn-div>button:hover {
    background-color: #cb4797;
    cursor: pointer;
}

#text {
    margin-top: 40px;
    line-height: 25px;
}

#text>h4 {
    color: black;
    margin-top: 10px;
}


/* Sidebar section*/
#sidebar {
    /* border: 2px solid black; */
    width: 25%;
}

#sidebar>div:first-child {
    /* border: 1px solid red; */
    padding: 10px 15px;
    font-weight: 300;
}

#sidebar>div:first-child,
#option>div {
    padding: 8px 15px;
    font-weight: 300;
    /* border: 1px solid red; */
    border-bottom: 2px solid #ebebeb;
    cursor: pointer;
}

#option {
    margin-top: 25px;
    height: auto;
}

#option>h3 {
    margin-left: 15px;
    margin-bottom: 10px;
}

#option>div:nth-child(2) {
    border-top: 2px solid #ebebeb;
}

#sidebar>img {
    width: 100%;
    margin-top: 25px;
}

#ctg {
    display: flex;
    flex-direction: column;
}

#ctg>p,
#option>div>p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#ctg>p>span,
#option>div>p>span {
    font-size: 16px;
    font-weight: 500;
}

#list {
    margin-top: 10px;
}

#list>p {
    line-height: 20px;
    word-spacing: 8px;
}


/*  skin section */

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    margin-top: 15px;
}

fieldset>div>input {
    margin-right: 10px;
    margin-top: 5px;
}

fieldset>div>label,
#list>p {
    font-weight: 400;
    font-size: 14px;
}
